@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bar-icon {
    @apply relative flex items-center justify-center align-middle h-12 w-12 mb-2 mx-auto shadow-sm pb-6 text-3xl text-violet-500 hover:text-blue-500 dark:text-violet-700 dark:hover:text-blue-700;
  }
  .page{
    @apply flex flex-col min-h-screen m-1 pt-16 pb-14 content-center text-center items-center
  }

}
@layer utilities{
.animate-delay-2000{
    animation-delay: 2s;
  }
  .animate-delay-4000{
    animation-delay: 4s;
  }
  .animate-delay-6000{
    animation-delay: 6s;
  }
  .animate-delay-8000{
    animation-delay: 8s;
  }
}

